body {
    font-family: 'Raleway', sans-serif;
    /*font-family: 'Roboto', sans-serif;*/
    /*font-family: 'Archivo Black', sans-serif;*/
}

.App {
    text-align: center;
}

.header {
    font-size: 20px;
}

.videoTag{

    height: auto;
    width:100%;

    float: left;
    top: 0;
    padding: 0;
    position: fixed;
}

.linkTag{
    text-decoration: none;
}

